main{
    padding-top: 50px;
    background-color: #fadabd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 50px;
}
.intro_servicios{
    font-size: 20px;
    width: 60%;
    text-align: center;
}
