header{
    position: sticky;
    top:0px;
    
}
.menu{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center ;
    height: 70px;
    gap:15px;
    width: 100%;
    box-shadow: -1px 6px 25px -6px rgba(0,0,0,0.75);
   
}
/* este es el estilo del logo Krozo */
.logo{
/*     background-color: red;
 */ 
    font-size: 40px;
    font-weight: bold;
    font-family: "Faster One", serif;
}
/* estan son las opciones del menu */
.opciones{
    display: flex;
    /*background-color: darkolivegreen;*/
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    align-items: center ;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
.opciones li{
    display: flex;
/*     background-color: coral;
 */    height: 100%;
    width: 100%;
    border-left: 1px solid rgba(168, 160, 160, 0.309);
    justify-content: center;
    align-items: center;
}

.opciones li a{
    color:black;
    text-decoration: none;
    font-family:  "Oswald", sans-serif;
}

.opciones .sin_bordes{
    border: none;
}

li a:active,
nav a.opcion_seleccionada,
.opciones li a:hover
{
    color: rgb(159, 59, 23);
    
}

.social{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.social li a{
    font-size: 25px;
    color: black;
}
.social li a:hover{
    color: rgb(159, 59, 23);
}
.menu .menuIcon{
    display: none;
}
@media (max-width:900px) {
    header{
        display:flex;
        justify-content: center;
    }
    .menu{
        justify-content: space-between;
        width:100%;
        padding-left:20px;
        padding-right: 20px;
    }
    .opciones{
        width: 80%;
    }
    .menu .menuIcon{
        display: none;
    }
}
@media (max-width:700px){
    
    .opciones{
        
        display:flex;
        flex-direction: column;
        position: fixed;
        height: calc(100vh - 70px);
        top:70px;
        left: 0;
        background-color: white;
        width: 100%;
        /* visibility: hidden; */
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .opciones.activo{
       transform: translateX(0);
    }
    .social{
        display:none;
    }
    .menu .menuIcon{
        display:inline;
        font-size: 40px; 
        position: absolute;  
        right:30px; 
    }
}