*{
    margin:0;    
    padding: 0;
    box-sizing:border-box;
}

header{
    position: sticky;
    top:0px;
    
}
.menu{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center ;
    height: 70px;
    gap:15px;
    width: 100%;
    box-shadow: -1px 6px 25px -6px rgba(0,0,0,0.75);
   
}
/* este es el estilo del logo Krozo */
.logo{
/*     background-color: red;
 */ 
    font-size: 40px;
    font-weight: bold;
    font-family: "Faster One", serif;
}
/* estan son las opciones del menu */
.opciones{
    display: flex;
    /*background-color: darkolivegreen;*/
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    align-items: center ;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
.opciones li{
    display: flex;
/*     background-color: coral;
 */    height: 100%;
    width: 100%;
    border-left: 1px solid rgba(168, 160, 160, 0.309);
    justify-content: center;
    align-items: center;
}

.opciones li a{
    color:black;
    text-decoration: none;
    font-family:  "Oswald", sans-serif;
}

.opciones .sin_bordes{
    border: none;
}

li a:active,
nav a.opcion_seleccionada,
.opciones li a:hover
{
    color: rgb(159, 59, 23);
    
}

.social{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.social li a{
    font-size: 25px;
    color: black;
}
.social li a:hover{
    color: rgb(159, 59, 23);
}




.parrafo_azul{
    background-color: blue;
    color:white
}

.menu .menuIcon{
    display: none;
}

@media (max-width:900px) {
    header{
        display:flex;
        justify-content: center;
    }
    .menu{
        justify-content: space-between;
        width:100%;
        padding-left:20px;
        padding-right: 20px;
    }
    .opciones{
        width: 80%;
    }
    .menu .menuIcon{
        display: none;
    }
}

main{
    padding-top: 50px;
    background-color: #cdae92;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
h1{
    font-size: 50px;
}
.intro_servicios{
    font-size: 20px;
    width: 60%;
    text-align: center;
}
.contenedor_tarjetas{
    /* display: flex;
    width:90%;
    justify-content:space-around;
    flex-wrap: wrap;
    gap:30px; */
    display: grid;
    grid-template-columns: 350px 350px 350px;
    row-gap: 20px;
}
.tarjeta{
    width:300px;
    height:350px;
    background-color: white;
}
@media (max-width:700px){
    
    .opciones{
        display: none;
        /* visibility: hidden; */
    }
    .social{
        display:none;
    }
    .menu .menuIcon{
        display:inline;
        font-size: 40px;    
    }
}
    
/* @media (orientation:landscape) {
    body{
        background-color: red;
    }
}
@media (orientation:portrait) {
    body{
        background-color: rgb(0, 0, 255);
    }
} */