.cuadrado{
  
    width: 500px;
    height: 500px;
    border: 3px solid black;
    
    transition: background-color 3s, transform 3s /* , width 2s, height 3s */;
}

.rojo{
    background-color: beige;
   width: 500px;
    height: 500px; 
    transform: translateX(-100%);
}

.azul{
    background-color: blue;
    transform: translateX(0);
    /* width: 200px;
    height: 200px;
     */
}